* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Prompt, Italiana, Arial, sans-serif, italic;
  margin: 0;
  color: white;
  background: black;
}

/* Header/logo Title */
.header {
  float: left;
  width: 100%;
  text-align: center;
  background: black;
  color: white;  
  z-index:1;
}

  /* Increase the font size of the heading */
  .header h1 {
    font-size: 4vw;
    font-family: Italiana;
    color: red;
  }

  /* font colour gold */
  .header h2 {
    font-size: 3.5vw;
    font-family: Italiana;
    color: white;
  }

  .header h3 {
    font-size: 3.5vw;
    font-family: Prompt;
    color: white;
  }

  .header h4 {
    font-size: 3vw;
    font-family: Italiana;
    color: red;
  }

  .header h5 {
    font-size: 3vw;
    font-family: Prompt;
    color: white;
  }

p, i {
  font-size: 2vw;
  font-family: Prompt;
  color: white;
}

.openbtn {
  position: fixed;
  top: 5px;
  right: 10px;
  font-size:6vw;
  cursor:pointer; 
  padding: 1.5vw; 
  vertical-align: 50%;
  
  
  }

/* --------------------------------------------------------------------------------------------- */
/* The Overlay Menu(background) */
.overlay {
/* Height & width depends on how you want to reveal the overlay (see JS below) */   
height: 100%;
width: 0;
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
right: 0;
top: 0;
background-color: rgb(0,0,0); /* Black fallback color */
background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
overflow-x: hidden; /* Disable horizontal scroll */
transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
position: relative;
top: 15%; /* 15% from the top */
width: 100%; /* 100% width */
text-align: center; /* Centered text/links */
margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 4vw;
color: #818181;
display: block; /* Display block instead of inline */
transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
color:red;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 8vw;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 4vw;
  top: 15px;
  right: 35px;
}
}

/* --------------------------------------------------------------------------------------------- */
/* BOTTOM STICKY NAVBAR  */
.footernav {
  overflow: hidden;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.footernav a {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
}

/* Right-aligned link */
.footernav a.width {
   width: 100%;
}
/* Change color on hover */
.footernav a:hover {
  background-color: #DAA520;
  color: white;
}


/* --------------------------------------------------------------------------------------------- */
/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color:red;
  padding: 15px;
}

/* Style the container section */
.container {
  border-radius: 0px;
  background-color: black;
  padding: 10px;
  align-content:space-evenly;
}

/* Create two columns that float next to each other */
.column {
  float: left;
  width: 22%;
  margin-top: 6px;
  padding: 6px;
  text-align:center;
}

/* --------------------------------------------------------------------------------------------- */
/* Responsive layout - when the screen is less than 700px wide, 
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation 
links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}